
form {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 200px auto;
}

.form_component {
  display: flex;
  justify-content: space-between;
}

.column-1,
.column-2,
.column-3 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 5px;
  margin:20px;
   border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Button styling */
.Button.component {
  text-align: center;
  margin-top: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center;
}

.error-input {
  border-color: red;
  background-color: #ffe6e6;
}


